* {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  top: 0px;
  position: fixed;
  width: 100%;
}

.navbar .navigation {
  padding: 0px 4rem;
}

.navbar .navigation .navbar-brand {
  padding-right: 1.5rem;
}

.navbar .navigation .navbar-toggler {
  border: 1px solid white;
}

.navbar .navigation .navbar-toggler-icon {
  background-size: cover;
}

.navbar .navigation .navbar-collapse .navbar-nav .nav-item .nav-link {
  padding-right: 2rem;
}

.home-container .reserve-container {
  margin: 2rem 0;
  position: relative;
  background-image: url(./asset/img/dining.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
  border-radius: .25rem;
}

.home-container .reserve-container .reserve-promotion {
  border-radius: inherit;
  padding: 4em;
  background-color: rgba(0, 0, 0, 0.425);
  background-size: cover;
}

.home-container .reserve-container .reserve-promotion h1 {
  color: white;
  margin: 2rem 0.5rem;
}

.home-container .reserve-container .reserve-promotion .reserve-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-container .reserve-container .reserve-promotion .reserve-button-container .reserve-button {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 1.5vh 1vw;
}

.home-container .reserve-container .reserve-promotion .reserve-button-container .reserve-button:hover {
  color: #363636;
}

.home-container .reserve-container .reserve-promotion .reserve-button-container .reserve-button:active {
  color: #666666;
}

.reservation-container {
  margin-top: 2rem;
}

.reservation-container .reservation-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reservation-container .reservation-text {
  font-size: larger;
}

.reservation-container .reservation-form {
  margin: 1.5rem 0;
}

.reservation-container .reservation-form .reservation-table {
  table-layout: fixed;
}

.reservation-container .reservation-form .reservation-table tbody tr td .required_field::after {
  content: " * ";
  color: red;
}

.reservation-container .reservation-form .reservation-table tbody tr td .btn-danger {
  float: right;
}

.reservation-container .reservation-form .reservation-table tbody tr td .block .reser_time {
  width: 1.5rem;
  height: 1.5rem;
}

.reservation-container .reservation-form .reservation-table tbody tr td .block .reser_time:checked {
  background-color: #1f7aca !important;
}

.reservation-container .reservation-form .reservation-table tbody tr td .block .reser_time:checked + label {
  color: #1f7aca;
  -webkit-transform: scaleZ(1);
          transform: scaleZ(1);
}

.reservation-container .reservation-form .reservation-table tbody tr td .block .radio_label {
  margin: 0 4rem 2rem 0;
  font-size: larger;
  font-weight: bolder;
}

.reservation-container .reservation-form .reservation-table tbody tr td input::-webkit-input-placeholder {
  font-size: large;
}

.reservation-container .reservation-form .reservation-table tbody tr td input:-ms-input-placeholder {
  font-size: large;
}

.reservation-container .reservation-form .reservation-table tbody tr td input::-ms-input-placeholder {
  font-size: large;
}

.reservation-container .reservation-form .reservation-table tbody tr td input::placeholder {
  font-size: large;
}

.reservation-container .reservation-form .reservation-table tbody tr td input:invalid {
  border: 1px red solid;
}

.footer {
  background-color: #274763;
  color: white;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
}

.footer .footer-container {
  padding: 0.5rem 0px;
}

.reservation-information {
  top: 5%;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  .navbar .navigation {
    padding: 0px 2.5rem;
  }
  .home-container .reserve-container .reserve-promotion {
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.425);
    background-size: cover;
  }
  .home-container .reserve-container .reserve-promotion h1 {
    color: white;
    margin: 1rem 0.5rem;
  }
  .home-container .reserve-container .reserve-promotion .reserve-button-container .reserve-button {
    font-size: 1.25rem;
    font-weight: bolder;
    padding: 1.5vh 1vw;
  }
  .reservation-container .reservation-header {
    padding: 0;
  }
  .reservation-container .reservation-text {
    font-size: medium;
  }
  .reservation-container .reservation-form {
    margin: 1rem 0;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td {
    font-size: medium;
    vertical-align: auto;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td .required_field {
    font-size: inherit;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td .block .reser_time {
    width: 1rem;
    height: 1rem;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td .block .radio_label {
    margin: 0 2rem 1rem 0;
    font-size: medium;
    font-weight: bolder;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td input::-webkit-input-placeholder {
    font-size: medium;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td input:-ms-input-placeholder {
    font-size: medium;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td input::-ms-input-placeholder {
    font-size: medium;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td input::placeholder {
    font-size: medium;
  }
  .reservation-container .reservation-form .reservation-table tbody tr .people_label {
    vertical-align: middle;
  }
}

@media only screen and (max-width: 414px) {
  .navbar .navigation {
    padding: 0px 1.5rem;
  }
  .home-container .reserve-container .reserve-promotion {
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.425);
    background-size: cover;
  }
  .home-container .reserve-container .reserve-promotion h1 {
    color: white;
    margin: 0.5rem 0.5rem;
    font-size: 1.25rem;
  }
  .home-container .reserve-container .reserve-promotion .reserve-button-container {
    margin-bottom: 0.5rem;
  }
  .home-container .reserve-container .reserve-promotion .reserve-button-container .reserve-button {
    font-size: 1.25rem;
    font-weight: bolder;
    padding: 1.5vh 1vw;
  }
  .reservation-container .reservation-header {
    padding: 0;
  }
  .reservation-container .reservation-text {
    font-size: medium;
  }
  .reservation-container .reservation-form {
    margin: 1rem 0;
    padding: 0;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td {
    font-size: medium;
    width: 50%;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td .required_field {
    font-size: inherit;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td .block .reser_time {
    width: .5rem;
    height: .5rem;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td .block .radio_label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td .block br {
    display: none;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td input::-webkit-input-placeholder {
    font-size: smaller;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td input:-ms-input-placeholder {
    font-size: smaller;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td input::-ms-input-placeholder {
    font-size: smaller;
  }
  .reservation-container .reservation-form .reservation-table tbody tr td input::placeholder {
    font-size: smaller;
  }
  .reservation-container .reservation-form .reservation-table tbody tr .expand {
    -webkit-column-span: all;
            column-span: all;
  }
  .footer .footer-container {
    padding: 0.75rem;
  }
}
/*# sourceMappingURL=style.css.map */