*{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

.navbar{
    top: 0px;
    position: fixed;
    width: 100%;
    .navigation{
        padding: 0px 4rem;
        .navbar-brand{
            padding-right: 1.5rem;
        }
        .navbar-toggler{
            border: 1px solid white;
        }
        .navbar-toggler-icon{
            background-size: cover;
        }
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        padding-right: 2rem;
                    }
                }
            }
        }
    
    }
}

.home-container{
    .reserve-container{
        margin: 2rem 0;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 !important;
        border-radius: .25rem;
        .reserve-promotion{
            border-radius: inherit;
            padding: 4em;
            background-color: rgba(0, 0, 0, 0.425);
            background-size: cover;
            h1{
                color: white;
                margin: 2rem 0.5rem;
            }
            .reserve-button-container{
                display: flex;
                justify-content: center;
                align-items: center ;
                .reserve-button{
                    font-size: 1.5rem;
                    font-weight: bolder;
                    padding: 1.5vh 1vw;
    
                    &:hover{
                        color: rgb(54, 54, 54);
                    }
    
                    &:active{
                        color: rgb(102, 102, 102);
                    }
                }
            }
        }
        
    }
}

.reservation-container{
    margin-top: 2rem;
    .reservation-header{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .reservation-text{
        font-size: larger;
    }
    .reservation-form{
        margin : 1.5rem 0;
        .reservation-table{
            table-layout: fixed;
            tbody{
                tr{
                    td{
                        .required_field{
                            &::after{
                                content: " * ";
                                color: red;
                            }
                        }
                        .btn-danger{
                            float: right;
                        }

                        .block{
                            .reser_time{
                                width: 1.5rem;
                                height: 1.5rem;
                                &:checked{
                                    background-color:rgb(31, 122, 202) !important;
                                }
                                &:checked + label{
                                    color: rgb(31, 122, 202);
                                    transform: scaleZ(1);
                                }
                            }
                            .radio_label{
                                margin: 0 4rem 2rem 0;
                                font-size: larger;
                                font-weight: bolder;
                            }
                        }

                        input{
                            &::placeholder{
                                font-size: large;
                            }
                            &:invalid{
                                border: 1px red solid;
                            }
                        }

                    }
                }
            }
        }
    }
}

.footer{
    background-color: rgb(39, 71, 99);
    color: white;
    min-height: max-content;
    .footer-container{
        padding: 0.5rem 0px;
    }
}

.reservation-information{
    top: 5%;
    position: absolute;
    .form-control{
        .table-striped{
            tbody{
                tr{
                    td{
                        .phone-info{
                            &:invalid{
                                border: 0.5px red solid;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

// Ipad
@media only screen and (max-width: 1024px) {
    .navbar{
        .navigation{
            padding: 0px 2.5rem;
        }
    }

    .home-container{
        .reserve-container{
            .reserve-promotion{
                padding: 1.5rem;
                background-color: rgba(0, 0, 0, 0.425);
                background-size: cover;
                h1{
                    color: white;
                    margin: 1rem 0.5rem;
                }
                .reserve-button-container{
                    .reserve-button{
                        font-size: 1.25rem;
                        font-weight: bolder;
                        padding: 1.5vh 1vw;
                    }
                }
            }
        }
    }

    .reservation-container{
        .reservation-header{
            padding: 0;
        }
        .reservation-text{
            font-size: medium;
        }
        .reservation-form{
            margin : 1rem 0;
            .reservation-table{
                tbody{
                    tr{
                        td{
                            font-size: medium;
                            vertical-align:auto;
                            .required_field{
                                font-size: inherit;
                            }

                            .block{
                                .reser_time{
                                    width: 1rem;
                                    height: 1rem;
                                }
                                .radio_label{
                                    margin: 0 2rem 1rem 0;
                                    font-size: medium;
                                    font-weight: bolder;
                                }
                            }

                            input{
                                &::placeholder{
                                    font-size: medium;
                                }
                            }
                        }
                        .people_label{
                            vertical-align: middle;
                        }
                    }
                }
            }    
        }
    }
}

// Iphone XS Max
@media only screen and (max-width : 414px) {
    .navbar{
        .navigation{
            padding: 0px 1.5rem;
        }
    }
    .home-container{
        .reserve-container{
            .reserve-promotion{
                padding: 0.5rem;
                background-color: rgba(0, 0, 0, 0.425);
                background-size: cover;
                h1{
                    color: white;
                    margin: 0.5rem 0.5rem;
                    font-size: 1.25rem;
                }
                .reserve-button-container{
                    margin-bottom: 0.5rem;
                    .reserve-button{
                        font-size: 1.25rem;
                        font-weight: bolder;
                        padding: 1.5vh 1vw;
                    }
                }
            }
        }
    }

    .reservation-container{
        .reservation-header{
            padding: 0;
        }
        .reservation-text{
            font-size: medium;
        }
        .reservation-form{
            margin : 1rem 0;
            padding: 0;
            .reservation-table{
                tbody{
                    tr{
                        td{
                            font-size: medium;
                            width: 50%;
                            .required_field{
                                font-size: inherit; 
                            }

                            .block{
                                .reser_time{
                                    width: .5rem;
                                    height: .5rem;
                                }
                                .radio_label{
                                    display: flex;
                                }
                                br{
                                    display: none;
                                }
                            }

                            input{
                                &::placeholder{
                                    font-size: smaller;
                                }
                            }
                        }
                        .expand{
                            column-span: all;
                        }
                    }
                }
            }    
        }
    }
    
    .footer{
        .footer-container{
            padding: 0.75rem;
        }
    }
}